.mainCont {
    width: 100vw;
    height: 100vh;
    background-image: url("../public/assets/chatbg1.svg");
    position: relative;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background-position: center;
    background-size: 70%;
    animation: bgEffect .5s;
}
@keyframes bgEffect {
    from {
        background-size: 100%;
    }
    to {
        background-size: 70%;
    }
}
.mainCont::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(32, 32, 32, 0.9) 0%, rgba(32, 32, 32, 0.828) 100%);
}

.leftCont {
    width: 70%;
    position: relative;
    animation: fadeInLeft .5s;
}

@keyframes fadeInLeft {
    from {
        transform: translateX(-10%);
        opacity: .5;
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.rightCont {
    position: relative;
    width: 50%;
    height: 200%;
    margin: -25% -10% 0 0;
    background: #202020;
    border-radius: 50%;
    display: flex;
    align-items: center;
    box-shadow: -20px 0px 60px rgba(0, 0, 0, 0.35);
    animation: fadeInRight .5s;
}

@keyframes fadeInRight {
    from {
        transform: translateX(10%);
        opacity: .5;
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.rightInnerCont {
    height: 100vh;
    width: 30vw;
    position: relative;
    left: 10%;
    margin-top: 8%;
}